[submodule "cSploit/jni/libnet"]
	path = cSploit/jni/libnet
	url = https://github.com/tux-mind/libnet.git
[submodule "cSploit/jni/libexpat"]
	path = cSploit/jni/libexpat
	url = https://github.com/tux-mind/libexpat.git
[submodule "cSploit/jni/libbthread"]
	path = cSploit/jni/libbthread
	url = https://github.com/tux-mind/libbthread.git
[submodule "cSploit/jni/ncurses"]
	path = cSploit/jni/ncurses
	url = https://github.com/tux-mind/platform_external_ncurses.git
[submodule "cSploit/jni/icu4c"]
	path = cSploit/jni/icu4c
	url = https://github.com/tux-mind/platform_external_icu4c.git
[submodule "cSploit/jni/openssl"]
	path = cSploit/jni/openssl
	url = https://github.com/android/platform_external_openssl.git
	branch = gingerbread-release
[submodule "cSploit/jni/libyaml"]
	path = cSploit/jni/libyaml
	url = https://github.com/tux-mind/libyaml.git
[submodule "cSploit/jni/zlib"]
	path = cSploit/jni/zlib
	url = https://github.com/tux-mind/platform_external_zlib.git
[submodule "cSploit/jni/libpcap"]
	path = cSploit/jni/libpcap
	url = https://github.com/android/platform_external_libpcap.git
	branch = origin/gingerbread-release
[submodule "cSploit/jni/libxml2"]
	path = cSploit/jni/libxml2
	url = https://github.com/tux-mind/platform_external_libxml2.git
[submodule "cSploit/jni/libxslt"]
	path = cSploit/jni/libxslt
	url = https://github.com/tux-mind/platform_external_libxslt.git
[submodule "cSploit/jni/libreadline"]
	path = cSploit/jni/libreadline
	url = https://github.com/tux-mind/platform_external_libreadline.git
[submodule "cSploit/jni/libtommath"]
	path = cSploit/jni/libtommath
	url = https://github.com/tux-mind/libtommath.git
[submodule "cSploit/jni/libedit"]
	path = cSploit/jni/libedit
	url = https://github.com/tux-mind/platform_external_libedit.git
[submodule "cSploit/jni/firebird"]
	path = cSploit/jni/firebird
	url = https://github.com/tux-mind/platform_external_firebird.git
[submodule "cSploit/jni/libmysqlclient"]
	path = cSploit/jni/libmysqlclient
	url = https://github.com/tux-mind/platform_external_libmysqlclient.git
[submodule "cSploit/jni/apr"]
	path = cSploit/jni/apr
	url = https://github.com/tux-mind/platform_external_apr.git
[submodule "cSploit/jni/freetds"]
	path = cSploit/jni/freetds
	url = https://github.com/tux-mind/platform_external_freetds.git
[submodule "cSploit/jni/unixODBC"]
	path = cSploit/jni/unixODBC
	url = https://github.com/tux-mind/platform_external_unixODBC.git
[submodule "cSploit/jni/openldap"]
	path = cSploit/jni/openldap
	url = https://github.com/tux-mind/platform_external_openldap.git
[submodule "cSploit/jni/postgresql"]
	path = cSploit/jni/postgresql
	url = https://github.com/tux-mind/platform_external_postgresql.git
[submodule "cSploit/jni/libiconv"]
	path = cSploit/jni/libiconv
	url = https://github.com/tux-mind/platform_external_libiconv.git
[submodule "cSploit/jni/bdb"]
	path = cSploit/jni/bdb
	url = https://github.com/tux-mind/platform_external_bdb.git
[submodule "cSploit/jni/sqlite"]
	path = cSploit/jni/sqlite
	url = https://github.com/android/platform_external_sqlite.git
[submodule "cSploit/jni/apr-util"]
	path = cSploit/jni/apr-util
	url = https://github.com/tux-mind/platform_external_apr-util.git
[submodule "cSploit/jni/libneon"]
	path = cSploit/jni/libneon
	url = https://github.com/tux-mind/platform_external_libneon.git
[submodule "cSploit/jni/subversion"]
	path = cSploit/jni/subversion
	url = https://github.com/tux-mind/platform_external_subversion.git
[submodule "cSploit/jni/libpcre"]
	path = cSploit/jni/libpcre
	url = https://github.com/tux-mind/platform_external_libpcre.git
[submodule "cSploit/jni/libidn"]
	path = cSploit/jni/libidn
	url = https://github.com/tux-mind/platform_external_libidn.git
[submodule "cSploit/jni/libncp"]
	path = cSploit/jni/libncp
	url = https://github.com/tux-mind/platform_external_libncp.git
[submodule "cSploit/jni/tcpdump"]
	path = cSploit/jni/tcpdump
	url = https://github.com/android/platform_external_tcpdump.git
[submodule "cSploit/jni/libssh"]
	path = cSploit/jni/libssh
	url = https://github.com/tux-mind/platform_external_libssh.git
[submodule "cSploit/jni/arpspoof"]
	path = cSploit/jni/arpspoof
	url = https://github.com/evilsocket/dsploit-arpspoof.git
[submodule "cSploit/jni/thomson"]
	path = cSploit/jni/thomson
	url = https://github.com/evilsocket/dsploit-thomson.git
[submodule "cSploit/jni/ettercap-ng"]
	path = cSploit/jni/ettercap-ng
	url = https://github.com/tux-mind/platform_external_ettercap.git
[submodule "cSploit/jni/nmap"]
	path = cSploit/jni/nmap
	url = https://github.com/tux-mind/platform_external_nmap.git
[submodule "cSploit/jni/libifaddrs"]
	path = cSploit/jni/libifaddrs
	url = https://github.com/tux-mind/platform_external_libifaddrs.git
[submodule "cSploit/jni/libcurl"]
	path = cSploit/jni/libcurl
	url = https://github.com/tux-mind/platform_external_libcurl.git
[submodule "cSploit/jni/hydra"]
	path = cSploit/jni/hydra
	url = https://github.com/vanhauser-thc/thc-hydra.git
[submodule "cSploit/jni/ruby"]
	path = cSploit/jni/ruby
	url = https://github.com/tux-mind/ruby.git
[submodule "cSploit/jni/fusemounts"]
	path = cSploit/jni/fusemounts
	url = https://github.com/tux-mind/fusemounts.git
[submodule "cSploit/jni/cSploitCommon"]
	path = cSploit/jni/cSploitCommon
	url = https://github.com/cSploit/common.git
[submodule "cSploit/jni/cSploitDaemon"]
	path = cSploit/jni/cSploitDaemon
	url = https://github.com/cSploit/daemon.git
[submodule "cSploit/jni/c-ares"]
	path = cSploit/jni/libcares
	url = https://github.com/tux-mind/c-ares.git
	branch = cares_1_10_0_android_arm_32
[submodule "cSploit/jni/network-radar"]
	path = cSploit/jni/network-radar
	url = https://github.com/cSploit/network-radar.git
