Assar Westerlund <assar@sics.se> assar <assar>
Bill Fenner <fenner@gmail.com> fenner <fenner>
Denis Ovsienko <denis@ovsienko.info> <infrastation@yandex.ru>
Francois-Xavier Le Bail <devel.fx.lebail@orange.fr> fxlb <fx.lebail@yahoo.com>
Francois-Xavier Le Bail <devel.fx.lebail@orange.fr> <fx.lebail@yahoo.com>
Fulvio Risso <risso@polito.it> risso <risso>
Gianluca Varenni <gianluca.varenni@gmail.com> gianluca <gianluca>
Guy Harris <gharris@sonic.net> <gharris@localhost.localdomain>
Guy Harris <gharris@sonic.net> <gharris@steve.local>
Guy Harris <gharris@sonic.net> <gharris@ubu9-10.(none)>
Guy Harris <gharris@sonic.net> <guy@alum.mit.edu>
Guy Harris <gharris@sonic.net> Guy (Core OS) Harris <gharris@gharris.apple.com>
Guy Harris <gharris@sonic.net> guy <guy>
Hannes Gredler <hannes@gredler.at> hannes <hannes>
Hannes Gredler <hannes@gredler.at> <hannes@juniper.net>
Jun-ichiro itojun Hagino <itojun@iijlab.net> itojun <itojun>
Ken Hornstein <kenh@cmf.nrl.navy.mil> kenh <kenh>
Loris Degioanni <loris@netgroup-serv.polito.it> loris <loris>
Michael Richardson <mcr@sandelman.ca> <mcr@credil.org>
Michael Richardson <mcr@sandelman.ca> <mcr@finepoint.com>
Michael Richardson <mcr@sandelman.ca> mcr <mcr>
Michael Richardson <mcr@sandelman.ca> <mcr@sandelman.ottawa.on.ca>
Michael Richardson <mcr@sandelman.ca> <mcr@tcpdump.org>
Stephen Donnelly <stephen.donnelly@emulex.com> <sfd@nzhmlwks0033.(none)>
Stephen Donnelly <stephen.donnelly@emulex.com> sfd <stephen.donnelly@emulex.com>
Stephen Donnelly <stephen.donnelly@emulex.com> sfd <stephen.donnelly@endace.com>
Stephen Donnelly <stephen.donnelly@emulex.com> <stephen.donnelly@endace.com>
Torsten Landschoff <t.landschoff@gmx.net> torsten <torsten>
