.deps
.libs
*.lib
*.pdb
*.dll
*.exe
*.obj
.*.swp
Debug
Release
*.exp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
libtool
ltmain.sh
compile
libcares.pc
missing
c-ares-*.tar.gz
INSTALL
install-sh
*.o
*.lo
*.la
mkinstalldirs
tags
TAGS
*~
aclocal.m4.bak
acountry
adig
ahost
ares_config.h.in
stamp-h1
stamp-h2
ares_cancel.pdf
ares_destroy.pdf
ares_destroy_options.pdf
ares_dup.pdf
ares_expand_name.pdf
ares_expand_string.pdf
ares_fds.pdf
ares_free_data.pdf
ares_free_hostent.pdf
ares_free_string.pdf
ares_get_servers.pdf
ares_gethostbyaddr.pdf
ares_gethostbyname.pdf
ares_gethostbyname_file.pdf
ares_getnameinfo.pdf
ares_getsock.pdf
ares_init.pdf
ares_init_options.pdf
ares_library_cleanup.pdf
ares_library_init.pdf
ares_mkquery.pdf
ares_parse_a_reply.pdf
ares_parse_aaaa_reply.pdf
ares_parse_ns_reply.pdf
ares_parse_ptr_reply.pdf
ares_parse_srv_reply.pdf
ares_parse_txt_reply.pdf
ares_process.pdf
ares_query.pdf
ares_save_options.pdf
ares_search.pdf
ares_send.pdf
ares_set_servers.pdf
ares_set_socket_callback.pdf
ares_strerror.pdf
ares_timeout.pdf
ares_version.pdf
c-ares-*.tar.gz.asc
ares_parse_mx_reply.pdf
/[0-9]*.patch
