/****************************************************************************


PAMNCP.RC

produced by Borland Resource Workshop


*****************************************************************************/
#include "pamncp.h"

PAMNCP_UPAGE DIALOG 11, 21, 271, 249
STYLE 0x4L | WS_CHILD
FONT 8, "MS Sans Serif"
{
 LTEXT "Unix uid:", IDC_UID_LBL, 7, 25, 30, 8
 EDITTEXT IDC_EDIT_UID, 41, 23, 25, 12, WS_TABSTOP | WS_BORDER
 LTEXT "Unix gid:", IDC_GID_LBL, 7, 43, 29, 8
 EDITTEXT IDC_EDIT_GID, 41, 41, 25, 12, WS_TABSTOP | WS_BORDER
 LTEXT "Unix home:", IDC_HOME_LBL, 90, 24, 37, 9
 EDITTEXT IDC_EDIT_HOME, 131, 23, 119, 12, WS_TABSTOP | WS_BORDER
 LTEXT "Unix shell:", IDC_SHELL_LBL, 93, 43, 33, 9
 COMBOBOX IDC_COMBO_SHELL, 131, 39, 44, 56, CBS_DROPDOWN | WS_TABSTOP
 EDITTEXT IDC_EDIT_SHELL, 183, 39, 66, 12, WS_TABSTOP | WS_BORDER | WS_GROUP
 AUTOCHECKBOX "&Automount Netware home", IDC_ZF_A, 7, 70, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP
 AUTOCHECKBOX "&Broadcast mode All", IDC_ZF_B, 7, 81, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP
 AUTOCHECKBOX "Broadcast mode &Console", IDC_ZF_C, 7, 92, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP
 AUTOCHECKBOX "&D reserved", IDC_ZF_D, 7, 103, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | WS_DISABLED | WS_TABSTOP
 AUTOCHECKBOX "&E reserved", IDC_ZF_E, 7, 114, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "Allow &Ftp access", IDC_ZF_F, 7, 125, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP
 AUTOCHECKBOX "&G reserved", IDC_ZF_G, 7, 136, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "Allow RS&H access", IDC_ZF_H, 7, 147, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP
 AUTOCHECKBOX "Create ~/.nw&Infos file", IDC_ZF_I, 7, 158, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP
 AUTOCHECKBOX "&J reserved", IDC_ZF_J, 7, 169, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "&K reserved", IDC_ZF_K, 7, 180, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "&L reserved", IDC_ZF_L, 7, 191, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | WS_DISABLED | WS_TABSTOP
 AUTOCHECKBOX "Forward &Mail", IDC_ZF_M, 7, 202, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP
 AUTOCHECKBOX "Create ~/.&Nwclient file", IDC_ZF_N, 7, 213, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP
 AUTOCHECKBOX "&Overwrite ~/.nwclient file", IDC_ZF_O, 7, 224, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP
 AUTOCHECKBOX "&Password in ~/.nwclient file", IDC_ZF_P, 7, 235, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP
 AUTOCHECKBOX "&Q reserved", IDC_ZF_Q, 138, 70, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "Allow &Rlogin access", IDC_ZF_R, 138, 81, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP
 AUTOCHECKBOX "Allow &Samba access", IDC_ZF_S, 138, 92, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP
 AUTOCHECKBOX "Allow &Telnet access", IDC_ZF_T, 138, 103, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP
 AUTOCHECKBOX "&U reserved", IDC_ZF_U, 138, 114, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "&Volative account", IDC_ZF_V, 138, 125, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "&W reserved", IDC_ZF_W, 138, 136, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "Allow &X access", IDC_ZF_X, 138, 147, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP
 AUTOCHECKBOX "&Y reserved", IDC_ZF_Y, 138, 158, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "&Z reserved", IDC_ZF_Z, 138, 169, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "Run zenscript &0 (opening)", IDC_ZF_0, 138, 180, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP
 AUTOCHECKBOX "Run zenscript &1 (opening)", IDC_ZF_1, 138, 191, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP
 AUTOCHECKBOX "Run zenscript &2 (opening)", IDC_ZF_2, 138, 202, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP
 AUTOCHECKBOX "Run zenscript &3 (closing)", IDC_ZF_3, 138, 213, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP
 AUTOCHECKBOX "Run zenscript &4 (closing)", IDC_ZF_4, 138, 224, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP
 AUTOCHECKBOX "Run zenscript &5 (closing)", IDC_ZF_5, 138, 235, 96, 10, BS_AUTOCHECKBOX | BS_LEFTTEXT | NOT WS_TABSTOP
 LTEXT "Zenux Flags:", -1, 6, 58, 60, 8
 LTEXT "Basic Unix properties:", IDC_BASIC, 7, 5, 190, 8
 LTEXT "", IDC_VERSION, 195, 6, 22, 8
 CONTROL "IDC_EDIT_DIR", -1, "static", SS_GRAYFRAME | WS_CHILD | WS_VISIBLE, 6, 16, 252, 39
 CONTROL "", -1, "static", SS_GRAYFRAME | WS_CHILD | WS_VISIBLE, 5, 68, 255, 178
 RTEXT "Text", IDC_VERSION_NUM, 200, 4, 47, 9
 CONTROL "", -1, "static", SS_GRAYFRAME | WS_CHILD | WS_VISIBLE, 126, 70, 4, 172
 AUTOCHECKBOX "", IDC_ZF_AH, 112, 70, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_BH, 112, 81, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_CH, 112, 92, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_DH, 112, 103, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_EH, 112, 114, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_FH, 112, 125, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_GH, 112, 136, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_HH, 112, 147, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_IH, 112, 158, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_JH, 112, 169, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_KH, 112, 180, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_LH, 112, 191, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_MH, 112, 202, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_NH, 112, 213, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_QH, 243, 70, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_RH, 243, 81, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_SH, 243, 92, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_TH, 243, 103, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_UH, 243, 114, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_VH, 243, 125, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_WH, 243, 136, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_XH, 243, 147, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_YH, 243, 158, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_ZH, 243, 169, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_0H, 243, 180, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_1H, 243, 191, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_2H, 243, 202, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_3H, 243, 213, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_OH, 112, 224, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_4H, 243, 224, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_PH, 112, 235, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 AUTOCHECKBOX "", IDC_ZF_5H, 243, 235, 9, 10, BS_AUTOCHECKBOX | NOT WS_TABSTOP | WS_DISABLED
 PUSHBUTTON "Show unherited", IDC_UNHERITED, 53, 56, 62, 12, WS_TABSTOP
 LTEXT "Unix gid:", IDC_GID1_LBL, 18, 34, 29, 8
 EDITTEXT IDC_EDIT_GID1, 52, 32, 25, 12, WS_TABSTOP | WS_BORDER
 LTEXT "Unix name:", IDC_GNAME_LBL, 85, 33, 37, 9
 EDITTEXT IDC_EDIT_GNAME, 126, 32, 119, 12, WS_TABSTOP | WS_BORDER
 PUSHBUTTON "where is the profile", IDC_DEFAULT, 135, 56, 120, 12, BS_LEFTTEXT | WS_TABSTOP
}


HELP_DLG DIALOG 40, 34, 293, 173
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Pam Ncp Snapin Help"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 126, 150, 50, 14
 EDITTEXT IDC_MEMO, 7, 22, 280, 119, ES_MULTILINE | ES_READONLY | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
 CTEXT "Text", IDC_VERSION, 36, 6, 220, 8
}


TRACE_DLG DIALOG 40, 34, 293, 173
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Pam Ncp Snapin Trace"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 126, 150, 50, 14
 CTEXT "Text", IDC_VERSION, 36, 6, 220, 8
 PUSHBUTTON "Cache", IDC_ADD_LINE, 205, 150, 50, 14, NOT WS_VISIBLE | WS_TABSTOP
 EDITTEXT IDC_MEMO, 15, 19, 268, 122, ES_MULTILINE | ES_READONLY | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
}



