# for Unix/Linux
*~
*.o
*.la
*.lo
*.so
*.a

# for MacOS/X
*.dylib
*.dSYM
.DS_Store

# for Windows
*.exe
*.obj
*.dll
*.exp
*.pdb
lib*.lib
lib*.dll
resource.RES
resource.rc
*_.RES
*_.rc
*0000.bin
*.ilk

# Misc
*.eml
*.patch
*.orig
*.rej
*.swp

# For OpenLDAP
*.tmp
.libs
.links

version.c

Makefile
!/contrib/slapd-modules/*/Makefile
!/contrib/slapd-modules/*/*/Makefile
!/doc/guide/admin/Makefile
!/libraries/libmdb/Makefile
!/servers/slapd/back-sql/rdbms_depend/timesten/dnreverse/Makefile

/config.status
/config.log
/include/stamp-h?
/libtool
/stamp-h
/clients/tools/l*version.c
/clients/tools/ldapcompare
/clients/tools/ldapdelete
/clients/tools/ldapexop
/clients/tools/ldapmodify
/clients/tools/ldapmodrdn
/clients/tools/ldappasswd
/clients/tools/ldapsearch
/clients/tools/ldapurl
/clients/tools/ldapvc
/clients/tools/ldapwhoami
/include/lber_types.h
/include/ldap_config.h
/include/ldap_features.h
/include/portable.h
libraries/libl*/*test
libraries/libldap_r/abandon.c
libraries/libldap_r/add.c
libraries/libldap_r/addentry.c
libraries/libldap_r/apitest
libraries/libldap_r/apitest.c
libraries/libldap_r/assertion.c
libraries/libldap_r/bind.c
libraries/libldap_r/cancel.c
libraries/libldap_r/charray.c
libraries/libldap_r/compare.c
libraries/libldap_r/controls.c
libraries/libldap_r/cyrus.c
libraries/libldap_r/dds.c
libraries/libldap_r/delete.c
libraries/libldap_r/deref.c
libraries/libldap_r/dnssrv.c
libraries/libldap_r/error.c
libraries/libldap_r/extended.c
libraries/libldap_r/fetch.c
libraries/libldap_r/filter.c
libraries/libldap_r/free.c
libraries/libldap_r/getattr.c
libraries/libldap_r/getdn.c
libraries/libldap_r/getentry.c
libraries/libldap_r/getvalues.c
libraries/libldap_r/gssapi.c
libraries/libldap_r/init.c
libraries/libldap_r/ldap_sync.c
libraries/libldap_r/ldif.c
libraries/libldap_r/ldifutil.c
libraries/libldap_r/ltest
libraries/libldap_r/messages.c
libraries/libldap_r/modify.c
libraries/libldap_r/modrdn.c
libraries/libldap_r/open.c
libraries/libldap_r/options.c
libraries/libldap_r/os-ip.c
libraries/libldap_r/os-local.c
libraries/libldap_r/pagectrl.c
libraries/libldap_r/passwd.c
libraries/libldap_r/ppolicy.c
libraries/libldap_r/print.c
libraries/libldap_r/references.c
libraries/libldap_r/request.c
libraries/libldap_r/result.c
libraries/libldap_r/sasl.c
libraries/libldap_r/sbind.c
libraries/libldap_r/schema.c
libraries/libldap_r/search.c
libraries/libldap_r/sort.c
libraries/libldap_r/sortctrl.c
libraries/libldap_r/stctrl.c
libraries/libldap_r/string.c
libraries/libldap_r/test.c
libraries/libldap_r/tls2.c
libraries/libldap_r/tls_g.c
libraries/libldap_r/tls_m.c
libraries/libldap_r/tls_o.c
libraries/libldap_r/turn.c
libraries/libldap_r/txn.c
libraries/libldap_r/unbind.c
libraries/libldap_r/url.c
libraries/libldap_r/utf-8-conv.c
libraries/libldap_r/utf-8.c
libraries/libldap_r/util-int.c
libraries/libldap_r/vc.c
libraries/libldap_r/vlvctrl.c
libraries/libldap_r/whoami.c
libraries/liblunicode/ucdata.c
libraries/liblunicode/ucdata.h
libraries/liblunicode/ucgendat
libraries/liblunicode/ucgendat.c
libraries/liblunicode/uctable.h
libraries/liblunicode/ure.c
libraries/liblunicode/ure.h
libraries/liblunicode/urestubs.c
libraries/liblunicode/version.c
libraries/liblutil/version.c
libraries/librewrite/rewrite
libraries/librewrite/version.c
servers/slapd/.backend
servers/slapd/all-cffiles
servers/slapd/back-hdb/add.c
servers/slapd/back-hdb/attr.c
servers/slapd/back-hdb/bind.c
servers/slapd/back-hdb/cache.c
servers/slapd/back-hdb/compare.c
servers/slapd/back-hdb/config.c
servers/slapd/back-hdb/dbcache.c
servers/slapd/back-hdb/delete.c
servers/slapd/back-hdb/dn2entry.c
servers/slapd/back-hdb/dn2id.c
servers/slapd/back-hdb/error.c
servers/slapd/back-hdb/extended.c
servers/slapd/back-hdb/filterindex.c
servers/slapd/back-hdb/id2entry.c
servers/slapd/back-hdb/idl.c
servers/slapd/back-hdb/index.c
servers/slapd/back-hdb/init.c
servers/slapd/back-hdb/key.c
servers/slapd/back-hdb/modify.c
servers/slapd/back-hdb/modrdn.c
servers/slapd/back-hdb/monitor.c
servers/slapd/back-hdb/nextid.c
servers/slapd/back-hdb/operational.c
servers/slapd/back-hdb/referral.c
servers/slapd/back-hdb/search.c
servers/slapd/back-hdb/tools.c
servers/slapd/back-hdb/trans.c
servers/slapd/backends.c
servers/slapd/overlays/statover.c
servers/slapd/slapacl
servers/slapd/slapadd
servers/slapd/slapauth
servers/slapd/slapcat
servers/slapd/slapd
servers/slapd/slapdn
servers/slapd/slapindex
servers/slapd/slapmodify
servers/slapd/slappasswd
servers/slapd/slapschema
servers/slapd/slaptest
tests/progs/ldif-filter
tests/progs/slapd-addel
tests/progs/slapd-bind
tests/progs/slapd-modify
tests/progs/slapd-modrdn
tests/progs/slapd-mtread
tests/progs/slapd-read
tests/progs/slapd-search
tests/progs/slapd-tester
tests/schema
tests/testdata
tests/testrun
tests/run
