/*
 * The contents of this file are subject to the Interbase Public
 * License Version 1.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy
 * of the License at http://www.Inprise.com/IPL.html
 *
 * Software distributed under the License is distributed on an
 * "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * rights and limitations under the License.
 *
 * The Original Code was created by Inprise Corporation
 * and its predecessors. Portions created by Inprise Corporation are
 * Copyright (C) Inprise Corporation.
 *
 * All Rights Reserved.
 * Contributor(s): ______________________________________.
 */
# include <windows.h>

# include "isql.rh"

isql ICON "isql.ico"

isql MENU 
{
 POPUP "File"
 {
  MENUITEM "Exec SQL...", IDM_EXEC_SQL
  MENUITEM "Exec Script...", IDM_EXEC_SCRIPT
  MENUITEM SEPARATOR
  MENUITEM "Connect Database...", IDM_CONNECT_DB
  MENUITEM "Extract Database...", IDM_EXTRACT_DB
  MENUITEM "Create Database...", IDM_CREATE_DB
  MENUITEM "Drop Database...", IDM_DROP_DB
  MENUITEM SEPARATOR
  MENUITEM "Save Output...", IDM_SAVE_OUTPUT
  MENUITEM "Save Session...", IDM_SAVE_SESSION
  MENUITEM SEPARATOR
  MENUITEM "Exit", IDM_QUIT
 }

 POPUP "Options"
 {
  MENUITEM "Set Blob Display...", IDM_BLOB_TYPE
  MENUITEM "Set Terminator...", IDM_TERMINATOR
  MENUITEM "Set Names...", IDM_CHAR_SET
  MENUITEM "Set Transaction...", IDM_TRANSACTION
  MENUITEM SEPARATOR
  MENUITEM "Set Append", IDM_APPEND
  MENUITEM "Set Statistics", IDM_STATISTICS
  MENUITEM "Set Count", IDM_COUNT
  MENUITEM "Set Autocommit", IDM_AUTOCOMMIT
  MENUITEM "Set List", IDM_LIST
  MENUITEM "Set Plan", IDM_PLAN
  MENUITEM "Set Auto DDL", IDM_AUTODDL
 }

 POPUP "Show"
 {
  MENUITEM "Version", IDM_SHOW_VERSION
  MENUITEM "System", IDM_SHOW_SYSTEM
  MENUITEM "Database", IDM_SHOW_DATABASE
  MENUITEM "Settings", IDM_SHOW_SETTINGS
  MENUITEM SEPARATOR
  MENUITEM "Table...", IDM_SHOW_TABLE
  MENUITEM "View...", IDM_SHOW_VIEW
  MENUITEM "Index...", IDM_SHOW_INDEX
  MENUITEM "Domain...", IDM_SHOW_DOMAIN
  MENUITEM "Exception...", IDM_SHOW_EXCEPTS
  MENUITEM "Filter...", IDM_SHOW_FILTER
  MENUITEM "Function...", IDM_SHOW_FUNCTION
  MENUITEM "Grant...", IDM_SHOW_GRANT
  MENUITEM "Generator...", IDM_SHOW_GENERATOR
  MENUITEM "Procedure...", IDM_SHOW_PROCEDURE
  MENUITEM "Trigger...", IDM_SHOW_TRIGGER
  MENUITEM "Check...", IDM_SHOW_CHECK
 }

 POPUP "Help"
 {
  MENUITEM "Help...", IDM_HELP
  MENUITEM "About", IDM_ABOUT
 }

}

STRINGTABLE
{
    IDS_NAME,          "Firebird SQL"
    IDS_MENUNAME,      "ISQL"
    IDS_ICONNAME,      "ISQL"
    IDS_ERROR,         "ISQL Error"
    IDS_TEMP_IN_FILE,  "Unable to create temp input file %s"
    IDS_TEMP_OUT_FILE, "Unable to create temp output file %s"
    IDS_DEF_IN_FILE,   "Unable to create default input file %s"
    IDS_DEF_OUT_FILE,  "Unable to create default output file %s"
    IDS_DEF_HIST_FILE, "Unable to create default command history file %s"
    IDS_DEF_SESS_FILE, "Unable to open default SQL session file %s"
}

ABOUT DIALOG 6, 6, 154, 75
STYLE WS_POPUP | WS_DLGFRAME
{
 ICON "ISQL", -1, 9, 23, 0, 0
 CTEXT "ISQL", -1, 0, 5, 154, 8, SS_CENTER | WS_CHILD
 CTEXT "Version 1.0", -1, 30, 34, 94, 8, SS_CENTER | WS_CHILD
 DEFPUSHBUTTON "Ok", IDOK, 61, 59, 32, 14
}

EXEC_SQL DIALOG 5, 7, 303, 118
STYLE WS_POPUP | WS_DLGFRAME
{
 EDITTEXT IDD_SQL_COMMAND, 10, 20, 223, 15, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LISTBOX IDD_SQL_HISTORY, 10, 53, 222, 58, LBS_NOTIFY | WS_BORDER | WS_VSCROLL | WS_CHILD
 DEFPUSHBUTTON "Execute", IDOK, 247, 8, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 248, 27, 50, 14
 LTEXT "Enter command:", -1, 10, 6, 60, 8
 LTEXT "Command history:", -1, 10, 39, 71, 8
 PUSHBUTTON "Help", IDD_HELP_BUTTON, 248, 50, 50, 14
}

EXTRACT_DB DIALOG 6, 6, 250, 111
STYLE WS_POPUP | WS_DLGFRAME
{
 DEFPUSHBUTTON "OK", IDOK, 190, 20, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 190, 40, 50, 14
 LTEXT "Database name:", -1, 10, 6, 60, 8
 EDITTEXT IDD_EXTRACT_DBNAME, 10, 20, 140, 15, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Target database:", -1, 10, 40, 60, 8
 EDITTEXT IDD_EXTRACT_TARGET, 10, 54, 140, 15, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Output file:", -1, 10, 74, 60, 8
 EDITTEXT IDD_EXTRACT_OUTPUT, 10, 90, 140, 15, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Help", IDD_HELP_BUTTON, 190, 63, 51, 16
}

CONNECT_DB DIALOG 6, 6, 250, 112
STYLE WS_POPUP | WS_DLGFRAME
{
 DEFPUSHBUTTON "OK", IDOK, 194, 9, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 196, 30, 50, 14
 LTEXT "Database name:", -1, 10, 6, 67, 10
 EDITTEXT IDD_DB_DBNAME, 10, 20, 140, 15, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "User name:", -1, 10, 40, 76, 11
 EDITTEXT IDD_DB_USERNAME, 10, 54, 140, 15, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Password:", -1, 10, 74, 66, 10
 EDITTEXT IDD_DB_PASSWORD, 10, 90, 140, 15, ES_AUTOHSCROLL | ES_PASSWORD | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Help", IDD_HELP_BUTTON, 193, 51, 51, 18
}

DB_OBJECT DIALOG 6, 6, 205, 90
STYLE WS_POPUP | WS_DLGFRAME
{
 DEFPUSHBUTTON "OK", IDOK, 153, 22, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 152, 41, 50, 14
 PUSHBUTTON "ALL", IDD_ALL_OBJECTS, 153, 3, 48, 14
 LTEXT "Database object name:", -1, 5, 7, 101, 11
 EDITTEXT IDD_OBJECT, 2, 21, 140, 15, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Help", IDD_HELP_BUTTON, 150, 61, 51, 16
}

BLOB_TYPE DIALOG 6, 6, 205, 90
STYLE WS_POPUP | WS_DLGFRAME
{
 DEFPUSHBUTTON "OK", IDOK, 151, 31, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 150, 50, 50, 14
 LTEXT "Enter blob type:", -1, 6, 7, 60, 8
 PUSHBUTTON "ALL types", IDD_ALL_BLOBS, 149, 9, 50, 14
 EDITTEXT IDD_BLOB_TYPE, 8, 21, 91, 15, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Help", IDD_HELP_BUTTON, 147, 69, 53, 16
}

TERMINATOR DIALOG 6, 6, 219, 63
STYLE WS_POPUP | WS_DLGFRAME
{
 DEFPUSHBUTTON "OK", IDOK, 161, 6, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 162, 26, 50, 14
 LTEXT "Enter new SQL statement terminator:", -1, 10, 10, 135, 8
 EDITTEXT IDD_TERMINATOR, 10, 26, 140, 15, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Help", IDD_HELP_BUTTON, 162, 45, 50, 15
}

CHAR_SET DIALOG 6, 6, 214, 64
STYLE WS_POPUP | WS_DLGFRAME
{
 DEFPUSHBUTTON "OK", IDOK, 157, 6, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 157, 25, 50, 14
 LTEXT "Enter character set name:", -1, 11, 10, 91, 11
 EDITTEXT IDD_CHAR_SET, 10, 24, 140, 15, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Help", IDD_HELP_BUTTON, 155, 43, 54, 18
}

TRANS_STRING DIALOG 8, 10, 316, 67
STYLE WS_POPUP | WS_DLGFRAME
{
 DEFPUSHBUTTON "OK", IDOK, 253, 5, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 252, 24, 50, 14
 LTEXT "Transaction statement:", -1, 4, 5, 104, 8
 EDITTEXT IDD_TRANS_STRING, 7, 19, 238, 15, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Help", IDD_HELP_BUTTON, 252, 43, 52, 18
}

EXEC_SCRIPT DIALOG 6, 6, 224, 72
STYLE WS_POPUP | WS_DLGFRAME
{
 DEFPUSHBUTTON "OK", IDOK, 169, 8, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 169, 26, 50, 14
 LTEXT "Enter script file name:", -1, 10, 4, 84, 8
 LTEXT "Enter output file name:", -1, 10, 36, 80, 8
 EDITTEXT IDD_SCRIPT_INPUT, 10, 15, 140, 15, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT IDD_SCRIPT_OUTPUT, 10, 49, 140, 15, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Help", IDD_HELP_BUTTON, 167, 46, 52, 18
}

SAVE_OUTPUT DIALOG 6, 6, 217, 66
STYLE WS_POPUP | WS_DLGFRAME
{
 DEFPUSHBUTTON "OK", IDOK, 161, 8, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 161, 28, 50, 14
 LTEXT "Save current window to file:", -1, 10, 6, 114, 8
 EDITTEXT IDD_SAVE_OUTPUT_FILE, 10, 20, 140, 15, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Help", IDD_HELP_BUTTON, 162, 45, 49, 17
}

SAVE_SESSION DIALOG 6, 6, 221, 59
STYLE WS_POPUP | WS_DLGFRAME
{
 DEFPUSHBUTTON "OK", IDOK, 166, 5, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 166, 23, 50, 14
 LTEXT "Save session to file:", -1, 10, 7, 74, 8
 EDITTEXT IDD_SAVE_SESSION_FILE, 10, 22, 140, 15, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Help", IDD_HELP_BUTTON, 164, 40, 52, 16
}

CREATE_DB DIALOG 6, 6, 250, 112
STYLE WS_POPUP | WS_DLGFRAME
{
 DEFPUSHBUTTON "OK", IDOK, 194, 9, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 196, 30, 50, 14
 LTEXT "Database name:", -1, 10, 6, 67, 10
 EDITTEXT IDD_CREATE_DBNAME, 10, 20, 140, 15, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "User name:", -1, 10, 40, 76, 11
 EDITTEXT IDD_CREATE_USERNAME, 10, 54, 140, 15, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Password:", -1, 10, 74, 66, 10
 EDITTEXT IDD_CREATE_PASSWORD, 10, 90, 140, 15, ES_AUTOHSCROLL | ES_PASSWORD | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Help", IDD_HELP_BUTTON, 193, 51, 51, 18
}

DROP_DB DIALOG 6, 6, 250, 112
STYLE WS_POPUP | WS_DLGFRAME
{
 DEFPUSHBUTTON "OK", IDOK, 194, 9, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 196, 30, 50, 14
 LTEXT "Drop database?", -1, 10, 6, 67, 10
 PUSHBUTTON "Help", IDD_HELP_BUTTON, 193, 51, 51, 18
}

ISQLCURSOR CURSOR "isql.cur"
