<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="it.evilsocket.dsploit"
          android:versionCode="1"
          android:versionName="1.1.3b">

    <uses-sdk
            android:minSdkVersion="9"
            android:targetSdkVersion="18"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>

    <application
            android:name="DSploitApplication"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/Theme.DSploitActionBarStyle"
            android:allowBackup="true">
        <activity
                android:name=".MainActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--suppress AndroidDomInspection -->
        <service
                android:name=".net.NetworkDiscovery"
                android:enabled="true"/>
        <!--suppress AndroidDomInspection -->
        <service
                android:name=".core.UpdateChecker"
                android:enabled="true"/>
        <service
                android:name=".core.UpdateService"
                android:enabled="true"/>
        <service
                android:name=".core.MultiAttackService"
                android:enabled="true"/>

        <activity
                android:name=".WifiScannerActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name=".SettingsActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name=".gui.DirectoryPicker"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name=".gui.MsfPreferences"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
            android:name=".gui.Console"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name=".ActionActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name=".plugins.RouterPwn"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name=".plugins.Traceroute"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name=".plugins.PortScanner"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name=".plugins.Inspector"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name=".plugins.VulnerabilityFinder"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name=".plugins.Sessions"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name=".plugins.ExploitFinder"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name=".plugins.mitm.MITM"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name=".plugins.mitm.Sniffer"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name=".plugins.mitm.PasswordSniffer"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name=".plugins.mitm.hijacker.Hijacker"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name=".plugins.mitm.hijacker.HijackerWebView"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name=".plugins.LoginCracker"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name=".plugins.PacketForger"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
    </application>

</manifest>
