<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.csploit.android"
          android:versionCode="1"
          android:versionName="1.2.3">

    <uses-sdk
            android:minSdkVersion="9"
            android:targetSdkVersion="18"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>

    <application
            android:name=".CSploitApplication"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/Theme.DSploitActionBarStyle"
            android:allowBackup="true">
        <activity
                android:name="org.csploit.android.MainActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--suppress AndroidDomInspection -->
        <service
                android:name="org.csploit.android.net.NetworkDiscovery"
                android:enabled="true"/>
        <!--suppress AndroidDomInspection -->
        <service
                android:name="org.csploit.android.core.UpdateChecker"
                android:enabled="true"/>
        <service
                android:name="org.csploit.android.core.UpdateService"
                android:enabled="true"/>
        <service
                android:name="org.csploit.android.core.MultiAttackService"
                android:enabled="true"/>

        <activity
                android:name="org.csploit.android.WifiScannerActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name="org.csploit.android.SettingsActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name="org.csploit.android.gui.DirectoryPicker"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name="org.csploit.android.gui.MsfPreferences"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
            android:name="org.csploit.android.gui.Console"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name="org.csploit.android.ActionActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name="org.csploit.android.plugins.RouterPwn"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name="org.csploit.android.plugins.Traceroute"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name="org.csploit.android.plugins.PortScanner"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name="org.csploit.android.plugins.Inspector"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name="org.csploit.android.plugins.VulnerabilityFinder"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name="org.csploit.android.plugins.Sessions"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name="org.csploit.android.plugins.ExploitFinder"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name="org.csploit.android.plugins.mitm.MITM"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name="org.csploit.android.plugins.mitm.Sniffer"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name="org.csploit.android.plugins.mitm.PasswordSniffer"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name="org.csploit.android.plugins.mitm.hijacker.Hijacker"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name="org.csploit.android.plugins.mitm.hijacker.HijackerWebView"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name="org.csploit.android.plugins.LoginCracker"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name="org.csploit.android.plugins.PacketForger"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_main">
        </activity>
    </application>

</manifest>
